@import '../../../../assets/scss/variables.scss';

app-sidebar-item {

    .sidebar-item-label {
        padding-right: 2em !important;
    }

    .menu-router-link-active{
        background: lighten($primary-color, 55%) !important;

        mat-icon{
            color: $primary-color !important;
        }
    }
}